body.body--dark {
  background: #1b1c30;

  .q-field__messages div[role='alert'] {
    // color: #c42d3e;
  }
}

.text-underline {
  text-decoration: underline;
}

.news-dialog {
  max-width: 700px !important;
  width: 100%;
}
